body {
    background-color: #f9f9f9;
}

/* ヘッダー */
header {
    color: #d01600;
}

/* メイン */
.side-parts.box {
    background-color: #d01600;
    width: 40px;
    height: 100vh;
}

h2 {
    letter-spacing: 10px;
    color: #d01600;
    font-size: 18vh;
    font-weight: 400;
}
