body {
    background-color: #c6301f;
}

/* ヘッダー */
header {
    color: #f9f9f9;
}

/* メイン */
.side-parts.line {
    border-right: 2px solid #f9f9f9;
    width: 40px;
    height: 80vh;
}

h2 {
    letter-spacing: -5px;
    color: #f9f9f9;
    font-size: 18vh;
    font-weight:condensed; 
}

.about {
    font-size: 3.5vh;
    font-weight: 400;
    letter-spacing: 3.5px;
    color: #f9f9f9;
}

p {
    color: #f9f9f9;
    letter-spacing: 4px;
}